* {
    margin: 0;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: white;

    /* scroll-behavior: smooth; */
}
body {
    background-color: #e7e6e2;
    /* background-color: #090909; */
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button, input, textarea {
    outline: none;
    border: none;
}


/* ---------------header----------------- */


#home {
    min-height: 500px;
    height: 100vh;
    padding: 0 4%;
    overflow: hidden;

    
    background: #090909;  
    background: -webkit-linear-gradient(to bottom, #111111, #090909); 
    background: linear-gradient(to bottom, #111111, #090909); 

    /* background: #e7e6e2; */
}


.header {
    min-height: 90px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 1% 1% 0 1%;
    animation: header 1s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;


    opacity: 1;
}

/* @keyframes header{
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
} */

.home-title-container a {
    border-radius: 15px;
    cursor: none;
}

.home-title-container {
    height: 90px;
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.language-change {
    width: 90px;
    height: 55px;
    border-radius: 15px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
}

.language-animation-shell {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #4DA3E0; */
    width: 120px;
    height: inherit;
    border-radius: 15px;
    transition: all .17s ease-out;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.language-animation {
    width: 0px;
    height: 0px;
    border-radius: 15px;
    background-color: #1C1C1C;
    opacity: 0;
    transition: all 0.1s ease;
}

.language-change:hover .language-animation{
    opacity: 1;
    width: 130px;
    height: 60px;
    cursor: none;
}
.language-change:active .language-animation{
    background-color: #5C9BC1;
}




.en-language {
    font-size: 30px;
    transition-timing-function: ease-in;
    transition-duration: 0.15s;
    z-index: 2;
}

.language-line {
    height: 30px;
    width: 2px;
    background-color: #828282;
    transition: all 0.15s ease-in;
    z-index: 2;
}

.ua-language {
    font-size: 20px;
    color: #828282;
    transition-timing-function: ease-in;
    transition-duration: 0.15s;
    z-index: 2;
}


.language-change:hover .ua-language {
    color: white;
    transform: scale3d(1.5, 1.5, 1.5) translateX(-6px);
}
.language-change:hover .language-line {
    height: 25px;
    transform: skewX(7deg) translateX(-12px);
}
.language-change:hover .en-language {
    color: #828282;
    transform: scale3d(0.68, 0.68, 0.68) translateX(-5px);
}




.nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    margin-right: 60px;
}
.nav-list li {
    margin: 0 0 0 70px;
}

.outline {
    color: #828282;
    padding: 5px;
    transition: all 0.2s ease;
}
.outline:hover {
    color: white;
}
.outline:active {
    color: #5C9BC1;
    transition: all .1s ease;
}

/* ---------------/header----------------- */
 
.main {
    display: flex;
    height: 86%;
}

/* ---------------main----------------- */
.main-left-side {
    width: 100px;
    display: flex;
    align-items: flex-end;
}

.scroll-shell {
    transform: rotate(90deg);
    margin-bottom: 40px;
    position: relative;
    right: 20px;
}

.scroll {
    font-size: 12px;
    letter-spacing: 7px;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    width: 110px;
    color: #828282;
}

.scroll:hover {
    letter-spacing: 6px;
    color: white;
}
.scroll:active {
    letter-spacing: 6px;
    color: #5C9BC1;
    transition: all .1s ease;
}




.main-text, .main-foto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text {
    max-width: 700px;
    animation: main-text 2s ease-in-out;
    animation-delay: .2s;
    opacity: 0;
    animation-fill-mode: forwards;

    opacity: 1;
}
/* @keyframes main-text{
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} */

.hello {
    font-size: 77px;
    position: relative;
    top: 7px;
    letter-spacing: -2px;

    background: #4692C8;
    background: linear-gradient(to right, #4692C8, #EEFFBE); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* background: #FF4E50;
    background: -webkit-linear-gradient(to left, #F9D423, #FF4E50);
    background: linear-gradient(to left, #F9D423, #FF4E50); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.who-am-i {
    font-size: 80px;
    min-width: 400px;
    width: 670px;
    letter-spacing: -2px;

    background: #4692C8;
    background: linear-gradient(to right, #4692C8, #EEFFBE); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* background: #FF4E50;
    background: -webkit-linear-gradient(to left, #F9D423, #FF4E50);
    background: linear-gradient(to left, #F9D423, #FF4E50); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}





.button-about_me {
    margin-top: 19px;
    height: 75px;
    width: 255px;
    border-radius: 15px;
    font-size: 40px;
    background-color: inherit;
    color: #5C9BC1;
    /* color: #FF634D; */
    transition: all 0.3s ease;

    border: 3px solid #5C9BC1;
    /* border: 3px solid #FF634D; */
}
.button-about_me:hover {
    background-color: #5C9BC1;
    /* background-color: #FF634D; */
    color: white;
    cursor: pointer;
    border: 8px solid #5C9BC1;
    /* border: 8px solid #FF634D; */
    font-size: 39px;
}
.button-about_me:active {
    transition: all .1s ease;
    background-color: #365D74;
    /* background-color: #A74133; */
    color: #e7e6e2;
    border: 8px solid #365D74;
    /* border: 8px solid #A74133; */
}


/* ---------------/main----------------- */



/* ---------------about-me-page----------------- */
.about-me-page {
    padding: 3% 6% 0 6%;
    height: 540px;
}
.about-me-page p  {
    color: #151514;
    text-align: start;
}



.description h1 {
    font-size: 75px;
    color: #ED4A4D;
    margin: 0 0 10% 5%;
}

.about-me-main {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 45%;
    line-height: 35px;
    padding: 1% 0 0 0
}



.chart {
    width: 50%;
    max-width: 1000px;
    background-color: inherit;
    padding: 10px 0 20px 0;
    transition: all .7s ease;
    border-radius: 30px;
}
.chart:hover {
    box-shadow: -15px 30px 50px 0 rgb(38 38 38 / 10%);
    background-color: #E9E9E6;
    border-radius: 50px;
    border-left: 1px solid inherit;
    cursor: default;
    transform: scale3d(1.01, 1.01, 1.01)
}

.what-can-i-do {
    width: 84%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}
.what-can-i-do .row {
    margin: 20px 0;
    background-color: #DD9238;
    padding: 13px 16px;
    border-radius: 50px;
    transition: all 0.2s ease;
    height: 25px;
}


.what-can-i-do div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.what-can-i-do p {
    color: #966326;
}




.chart-title {
    margin: 25px 0 35px 20px;
    color: #DD9238;
    font-size: 45px;
}

.what-can-i-do .write-code {
    width: 82%;
}
.what-can-i-do .rubik {
    width: 80%;
}
.what-can-i-do .web-site {
    width: 76%;
}
.what-can-i-do .design {
    width: 60%;
}
.what-can-i-do .talk {
    width: 90%;
}
/* .what-can-i-do .cofe {
    /* width: 100%;
} */


.ul-description {
    margin: 7% 0 0 0;
    padding-inline-start: 0;
}

.ul-description li{
    color: #151514;
    margin-top: 1%;
}

.ul-description span{
    color: #151514;
}


/* ---------------/about-me-page----------------- */





/* ---------------photo-block----------------- */

.photo-block {
    height: 640px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.photo-block-main-shell {
    height: 400px;
    width: 100%;
}
.photo-block-main {
    height: inherit;
    width: 300%;
    /* background-color: #dddbd5; */
    display: flex;
    align-items: center;
    z-index: 2;
}

.photo {
    margin-right: 0.3%;
    height: inherit;
    width: 600px;
    border-radius: 35px;
    box-shadow: -15px 0px 30px 0 rgb(38 38 38 / 10%);
    background-color: #B1B1B1;
}

/* ---------------/photo-block----------------- */





/* ---------------skills-page----------------- */
.skills-page {
    height: 750px;
    padding: 0 4%;
}

.skills-title {
    display: flex;
    justify-content: center;
}
.skills-title h1 {
    color: #ED4A4D;
    font-size: 75px;
}

.all-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6%;
}

.skill-shell {
    margin: 0 3%;
}

.skill {
    background-color: #E9E9E6;
    height: 330px;
    width: 280px;
    border-radius: 15px;
    box-shadow: -20px 40px 80px 0 rgb(38 38 38 / 15%);
    padding: 20px 0 0 0 ;
    transition: all 0.3s ease;
}

.skill:hover {
    cursor: default;
    box-shadow: -20px 40px 80px 0 rgb(38 38 38 / 25%);
    transform: translateY(-20px) rotate(1.2deg);
}

.skill-top, .skill-bottom {
    height: 50%;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}
.skill-bottom {
    justify-content: start;
    padding: 10px 40px 0 40px;
}

.skill-logo {
    height: 60%;
}
.logo-bg {
    position: relative;
    background-color: #bdbdbd;
    height: 80px;
    width: 80px;
    border-radius: 10px;
}
.js {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 30px;
    color: #727272;
}

.skill-top h2 {
    font-size: 33px;
    background: linear-gradient(to left, #F2A40D, #FF4E50); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}


.skill-line {
    height: 2px;
    width: 40px;
    background-color: #828282;
}
.skill-text {
    margin: 25px 0 0 0;
    color: #828282;
    text-align: center;
}



.logo-bg-2 {
    width: 120px;
    background-color: inherit;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.html {
    color: #727272;
    font-size: 40px;
}


/* ---------------/skills-page----------------- */


/* ---------------projects-page----------------- */

.projects-page {
    height: 1420px;
    background: #111111;  
    position: relative;
}

.projects-page::before {
    display: block;
    content: '';
    transform: translateY(-100%) skewY(3deg);
    transform-origin: left;
    background-color: #111111;
    height: 100px;
    width: 100%;
    z-index: -1;
    box-shadow: 0 0 60px 0 rgb(17 17 17 / 50%);
}
.projects-page::after {
    display: block;
    content: '';
    transform: skewY(3deg);
    transform-origin: left;
    background-color: #111111;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 60px 0 rgb(17 17 17 / 50%);
}


.title-projects {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 1%;
}
.title-projects h1 {
    font-size: 85px;
    color: #9CB089;
    transition: all 1s ease-in;
    background: #4692C8;
    background: linear-gradient(120deg, #4692C8, #9CB089); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgb(77 163 224 / 8%);
}



.for-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.all-projects {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}


.margin {
    margin: 5% 0 0 0;
}



.border {
    height: 300px;
    width: 1000px;
    padding: 2px;
    transition: all 0.7s ease;
    border-radius: 35px;
}
.project {
    background-color: #111111;
    border-radius: 35px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    overflow: hidden;
}

.project-foto {
    height: inherit;
    width: 450px;    
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}


.projects-line {
     border-left: 1px solid white;
     height: 220px;
     transition: all 0.4s ease;
}

.content {
    border-radius: 35px;
    height: inherit;
    width: 400px;
    display: flex;
    align-items: center;
}

.content-in h3 {
    font-size: 45px;
    margin: 0 0 30px 0;
    transition: all 0.3s ease;
    color: #B3C99D;
}
.content-in p {
    width: 370px;
    transition: all 0.3s ease;
    line-height: 24px;
}




.border:hover  {
    background-color: #9CB089;
    transition: all 0.3s ease;
    box-shadow: 0 0 50px 0 rgb(166 187 144 / 80%);
}
.border:hover .project-foto {
    box-shadow: 0px 0px 20px -10px #0E0E0E;
}


.border:hover .content-in h3 {
    color: white;
    transform: scale3d(0.95, 0.95, 0.95) translateX(-10px);
}
.border:hover .content-in p {
    width: 360px;
    transform: scale3d(0.95, 0.95, 0.95) translateX(-10px);
}
.border:hover .projects-line {
    height: 205px;
}


.border:hover .project {
    background-color: #9CB089;
}



.view-more {
    height: 75px;
    width: 250px;
    border-radius: 35px;
    font-size: 25px;
    transition: all 0.6s ease;
    background-color: #9CB089;

    margin: 30% 0 0 0;
}

.view-more:hover {
    transition: all 0.3s ease;
    background-color: #4DA3E0;
    box-shadow: 0 0 50px -10px #4DA3E0;
    box-shadow: 0 0 40px 0 rgb(77 163 224 / 60%);
    cursor: pointer;
}   
.view-more:active {
    transition: all .1s ease;
    background-color: #365D74;
    cursor: pointer;
}   



/* ---------------/projects-page----------------- */







/* ---------------download-page----------------- */

.download-page {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% 0 3% 0;   
}

.download-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.download-title {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 3% 0 0 0;
}
.download-title h1 {
    color: #ED4A4D;
    font-size: 75px;
}


.download-line {
    height: 3px;
    width: 100px;
    background-color: #828282;

    animation-name: line-hide;
    animation-duration: 1.4s;
}


.link-download-button {
    margin: 0 0 72px 0;
}
.download-button-border {
    padding: 3px;
    background-color: #828282;
    border-radius: 15px;
    transition: all .8s ease;
}
.download-button {
    height: 70px;
    width: 250px;
    border-radius: 12px;
    color: #828282;
    background-color: #e7e6e2;
    font-size: 30px;
    transition: all .5s ease;
}

/* .download-button-accepted {
    position: absolute;
    bottom: 72px;
    height: 70px;
    width: 250px;
    background-color: #828282;
    border: 3px solid #ED4A4D;
    border-radius: 15px;

    animation-name: download-button;
    animation-duration: 1s;
    z-index: -1;
}

.link-download-button {
    animation-name: line-hide;
    animation-duration: 1.4s;
} */



/* -------button-animation------- */
/* @keyframes download-button {
    40% {
        transform: translateY(-70px);
        border-radius: 100px;
        height: 90px;
        width: 90px;
    }
    80% {
        transform: translateY(-70px);
        border-radius: 100px;
        height: 90px;
        width: 90px;
    }
    90% {
        transform: translateY(0);
        border-radius: 100px;
        height: 90px;
        width: 90px;
    }
}

@keyframes line-hide {
    10% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
} */
/* -------/button-animation------- */


.download-button-border:hover .download-button {
    background-color: #ED4A4D;
    cursor: pointer;
    color: white;
}
.download-button-border:hover {
    background-color: #ED4A4D;
    transition: all .1s ease;
    cursor: pointer;
    box-shadow: 0px 8px 60px -18px #0E0E0E;
}

.download-button-border:active, .download-button-border:active .download-button {
    transition: all .1s ease;
    background-color: #863839;
}  


/* ---------------/download-page----------------- */


/* ---------------final-page----------------- */
.final-page {
    background-color: #dddbd5;
    box-shadow: 0 0 100px 0 rgb(21 21 20 / 10%);
    height: 115vh;
    /* margin: 200px 0 0 0; */
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.final-page-shell {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.final-bg {
    height: 100%;
    width: 100%;
    background-color: #5C9BC1;
    position: absolute;
}

.final-main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    border-radius: 400px;
    height: 500px;
    width: 500px;
    background-color:#1C1C1C;
    box-shadow: 0 0 80px 0 rgb(21 21 20 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.ball-text {
    color: #5C9BC1;
    font-size: 80px;
    text-align: center;
    transition: all 1s ease;
}

/* =========DOM========= */
.ball_active {
    height: 200%;
    width: 200%;
}
.ball-text_active {
    opacity: 0;
}

/* =========/DOM========= */


.ball:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    cursor: default;
}
.ball:hover .ball-text {
    transform: scale3d(0.895, 0.895, 0.895);
}
/* ---------------/final-page----------------- */



/* ---------------contact-page----------------- */
.contact-page {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    display: none;
}
.contact-page_active {
    display: block;
}


.contact-info {
    width: 450px;
    height: 600px;
    background-color: #fff;
    border-radius: 35px;
    opacity: 0;
    transform: translateX(-150%);
    transition: all 0.2s ease;
    transition-delay: 1s;
}
.contact-info_active {
    opacity: 1;
    transform: translateX(0);
}


.contact-border {
    height: 95%;
    max-height: 800px;
    width: 750px;
    border-radius: 80px;
    opacity: 0;
    transform: translateX(150%);
    transition: all 0.2s ease;
    transition-delay: 1s;
}
.contact-border_active {
    opacity: 1;
    transform: translateX(0);
}


.contact-header, .contact-main, .contact-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-header {
    height: 20%;
}
.contact-main {
    height: 60%;
}
.contact-footer {
    height: 20%;
}


.contact-title {
    font-size: 75px;
    color: #4DA3E0;
}

.input-shell, .textarea-shell {
    position: relative;
    border-radius: 25px;
}

.input-shell {
    margin: 0 0 8% 0;
}
.contact-input {
    /* background-color:#e7e6e2; */
    width: 550px;
    height: 50px;
    border-radius: 25px;
    color: #151514;
    padding: 0 20px;
    box-shadow: -10px 10px 50px -25px #151514;
    border: 3px solid #828282;
    background-color: inherit;
    color: #828282;
    transition: all 0.3s ease;
    z-index: 1;
}


.contact-textarea {
    width: 550px;
    height: 200px;
    resize: none;
    border: 3px solid #828282;
    background-color: inherit;
    border-radius: 25px;
    color: #828282;
    padding: 18px 20px;
    transition: all 0.3s ease;
}


.contact-textarea:hover, .contact-input:hover {
    border: 3px solid #B1B1B1;
}
.contact-textarea:focus, .contact-input:focus {
    box-shadow: 0 25px 30px 0 rgb(0 0 0 / 40%);
    background-color: #fff;
    border: 3px solid #fff;
    color: #151514;
}

.input-name {
    transition: all 0.2s ease;
    position: absolute;
    left: 23px;
    top: 17px;
    pointer-events: none;
    color: #828282;
}

.textarea-shell:hover .input-name, .input-shell:hover .input-name {
    color: #B1B1B1;
}
.textarea-shell:focus-within .input-name, .input-shell:focus-within .input-name {
    transform: translateY(-43px);
    font-size: 16px;
    color: inherit;
}



.contact-button-link {
    border-radius: 15px;
}

.contact-button-shell {
    transition: all 0.2s ease;
    background-color: #4DA3E0;
    border-radius: 15px;
}

.contact-button {
    background-color: #4DA3E0;
    width: 180px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    font-size: 24px;
}
.contact-button p {
    font-size: 25px;
}

.contact-button-shell:hover  {
    transform: scale3d(1.015, 1.015, 1.015);
    background-color: #56B7FF;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 30%);
}

.contact-button-shell:hover .contact-button{
    background-color:#56B7FF;
    cursor: pointer;
    transform: scale3d(1.015, 1.015, 1.015);
}
.contact-button-shell:active, .contact-button-shell:active .contact-button{
    transition: all .1s ease;
    background-color:#365D74;
}

/* ---------------/contact-page----------------- */

















@media (min-width: 1800px) {
    * {
        font-size: 22px;
    }
    #home {
        padding: 0 5%;
    }

    .description h1, .skills-title h1, .download-title h1 {
        font-size: 85px;
    }
    .title-projects h1 {
        font-size: 95px;
    }
    .scroll-shell {
        margin-bottom: 45px;
    }

    .home-title {
        font-size: 54px;
    }
    .home-title:hover {
        cursor: none;
        font-size: 52px;
    }

    .main-left-side {
        width: 140px;
    }
    .hello {
        font-size: 84px;
        letter-spacing: 0px;
    }
    .who-am-i {
        font-size: 87px;
        letter-spacing: 0px;
    }
    .button-about_me {
        height: 80px;
        width: 265px;
        font-size: 42px;
        border: 3px solid #5C9BC1;
        line-height: 20px;
    }
    .button-about_me:hover {
        border: 7px solid #5C9BC1;
        font-size: 40px;
        line-height: 20px;
    }
    .button-about_me:active {
        border: 7px solid #365D74;
    }


    .about-me-page {
        padding: 4% 8% 0 8%;
    }

    .skill {
        height: 380px;
        width: 340px;
    }
    .skill-bottom, .skill-top {
        height: 50%;
        width: initial;
    }

    .skill-top h2  {
        font-size: 40px;
    }
    .skill-text {
        font-size: 25px;
    }


    .chart-title {
        font-size: 50px;
    }



    .projects-page {
        margin-top: 8%;
        height: 1390px;
    }

    .projects-page::before {
        height: 200px;
        position: relative;
        bottom: -40px;
    }
    .projects-page::after {
        height: 300px;
    }

    .all-projects {
        display: flex;
        justify-content: center;
        margin-top: -70px;
    }

    .title-projects {
        top: -20px;
    }

    .border:hover .content-in p {
        width: 380px;
    }


    .input-name {
        font-size: 20px;
    }
    .textarea-shell:focus-within .input-name, .input-shell:focus-within .input-name {
        font-size: 18px;
    }
}






 
@media (max-width: 1250px) {
    * {
        font-size: 18px;
    }

    .description h1, .skills-title h1, .download-title h1 {
        font-size: 70px;
    }

    /* ===========first-page=========== */
    #home {
        padding: 0 3%;
    }
    .nav-list {
        margin-right: 50px;
    }
    .home-title-container {
        margin-left: 45px;
    }


    .main-left-side {
        width: 55px;
    }

    .hello {
        font-size: 67px;
    }
    .who-am-i {
        font-size: 70px;
    }



    .button-about_me {
        height: 70px;
        width: 230px;
        font-size: 33px;
    }
    .button-about_me:hover {
        font-size: 32px;
    }
    /* ===========/first-page=========== */


    /* ===========second-page=========== */
    .chart-title {
        margin: 20px 0 30px 18px;
        font-size: 43px;
    }
    .what-can-i-do .write-code {
        width: 78%;
    }
    .what-can-i-do .rubik {
        width: 77%;
    }
    .what-can-i-do .web-site {
        width: 74%;
    }
    .what-can-i-do .design {
        width: 58%;
    }
    .what-can-i-do .talk {
        width: 87%;
    }


    .skill-top h2 {
        font-size: 30px;
    }


    .skills-page {
        height: 730px;
    }
    .skill {
        height: 310px;
        width: 260px;
    }
    /* ===========/second-page=========== */



    /* ===========third-page=========== */
    .projects-page::before, .projects-page::after {
        height: 80px;
    }
    .projects-page {
        height: 1350px;
    }

    .all-projects {
        margin: 60px 0 0 0;
    }

    .margin {
        margin: 5% 0 0 0;
    }
    .border {
        height: 280px;
        width: 900px;
    }

    .project-foto {
        width: 420px;
    }
    .projects-line {
        height: 210px;
    }

    .border:hover .content-in p {
        width: 355px;
    }
    .border:hover .projects-line {
        height: 200px;
    }

    /* ===========/third-page=========== */


    /* ===========fourth-page=========== */
    .download-title {
        width: 90%;
    }
    /* ===========/fourth-page=========== */
}






 
@media (max-width: 1000px) {
    
}






 
@media (max-width: 768px) {

}






 
@media (max-width: 480px) {

}